@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');

body {
  font-family: "Tajawal", "Helvetica", "Arial", sans-serif;
  line-height: 1.25;
  font-size: 20px;

  max-width: 960px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header header"
  "nav    nav"
  "main   main"
}

h1,
h2,
h3 {
  font-family: "Roboto Slab", "Times New Roman", serif;
}

h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 900;
}

header{
  grid-area: header;
  text-align: center;
  padding: 20px;
}

nav {
  grid-area: nav;
  position: sticky;
  top: 0;
}
nav ul {
  width 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

main {
  grid-area: main;
}
